<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DBType" value="sqlite" />
  </appSettings>
  <connectionStrings>
    <!--<add name="Db" connectionString="Data Source=:memory:;Version=3;Pooling=True;Max Pool Size=1"/>--> <!--The in memory db for tests provides inconsistent results-->
    <add name="Db" connectionString="Data Source=TinySqlite.db;Version=3;"/>
  </connectionStrings>
</configuration>